<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>
<% @flights.each do |f| %>
    <%= f.departure.name %>
    <%= f.departure.location %> -> 
    <%= f.arrival.name %>
    <%= f.arrival.location %>
    <%= f.flight_date %>
    <%= f.duration %>
    <%= f.flight_time.hour %>:<%= f.flight_time.min %> UTC</br>
<% end %>