<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% flash.each do |name, msg| -%>
      <% if name == 'error' %>
        <%= content_tag :div, msg, class: 'notification is-danger' %>
        <% elsif name == 'notice' %>
          <%= content_tag :div, msg, class: 'notification is-success' %>
        <% elsif name == 'alert' %>
          <%= content_tag :div, msg, class: 'notification is-warning' %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
